# This file is a template, and might need editing before it works on your project.
# Official docker image.
image: docker:latest

stages:
  - build
  - run
services:
  - docker:dind

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

build-master:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    - docker push "$CI_REGISTRY_IMAGE"
    - export TAG_IMAGE=$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-`date +%Y%m%d-%H%M`
    - docker tag "$CI_REGISTRY_IMAGE" $TAG_IMAGE
    - docker push $TAG_IMAGE
  only:
    - master

run:
  stage: run
  script:
    - set
    - docker run -e GITLAB_PRIVATE_TOKEN=$GITLAB_PRIVATE_TOKEN -e CI_PROJECT_ID=$CI_PROJECT_ID --rm $CI_REGISTRY_IMAGE:latest /usr/bin/python /opt/xero_automation/xero_report.py validation --client-id=$CLIENT_ID --client-secret=$CLIENT_SECRET --refresh-token=$REFRESH_TOKEN --tenant-id=$TENANT_ID
