*.pyc
__pycache__
*~
.*.sw[op]
*.egg-info
*.egg
.eggs
.tox
local
dist
build
_build
distribute-*
.venv
.idea/
*.iml
rsa_key.pem
XERO_CONSUMER_KEY
*.cer
*.pfx
*.pem
out/*
adr_test.sh
api.txt
chi_test.sh
keys.txt
run.demo.sh
run.py
run.sh

