**/*.pyc
.idea/*
*.pem
XERO_CONSUMER_KEY
/.~lock.time_sheet_details.xlsx#
/privatekey.pem
/time_sheet_details.xlsx
inspectionProfiles/
misc.xml
modules.xml
workspace.xml
xero-automation-master.iml
public_privatekey.pfx
publickey.cer
/venv/
/build/
/dist/
/out/
*.iml
*.egg-info
.owners
/variables/
.*
.venv
.vscode
